
*{margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal; 
    }
   
   
   .header-container
       {display: flex;
       justify-content: space-between;
       width: 1583px;
       height: 154px; ;}
   
   
   
    .header-container> h3{
       color: #1E1E1E;
       margin-top: 50px;
       margin-bottom: 48px;
       margin-left: 150px;

       
     }
   
     .btn{
        margin-top: 32px;
        margin-right: 150px;
        padding: 23px 24px;
        text-align: center;
        font-weight: 350;
        color: #1E1E1E; 
        width: 244px;
        height: 69px;
        background-color: #ffffffd5;
        border-radius: 8px;
       
     }
   
   
     .first-container{
           background-image: url(assets/Hero-bg.png);
           background-repeat: no-repeat; 
           width: 1440px;
           height: 652px;
           
         
   
   }
   
   
   .frst-sub-container{ 
       width: 998px;
       height: 581px;
       padding-top: 26px;
       padding-bottom: 45px;
       padding-right: 221px;
       padding-left: 221px;
       display: flex;
       align-items: center;
       flex-direction: column;
   }
   
   .image-first  {width: 241px;
   height: 240px;
   
   }
   
   .frst-sub-container > h1 {
       font-weight: 900;
       color: #1E1E1E;
       text-align: center;
       }
       
   
       .frst-sub-container > p { 
           font-weight: 400;
           color: #1E1E1E;
           text-align: center;
           padding-top: 24px  ;
           padding-bottom: 32px ;
   
       }
   
       .frst-sub-container > button {
           background-color: #0D1321;
           border-radius: 8px;
           width: 244px;
           height: 65px;
           color: azure;
       }
       




                                                      /* 2nd page starts */              


               

                                              .second-container
                                              {width: 1140px;
                                              height: 1411px;
                                              border-radius: 16px;
                                              background-color: #FAFAFB;
                                              margin: 74px 139px 49px 161px;
                                              padding: 20px 20px;
                                             
                                              
                                              
                                              }

                                              
                                               
                                                      .second-page
                                                      {
                                                        width: 946px;
                                                        height: 1251px;
                                                        display: flex;
                                                         flex-wrap: wrap;
                                                       
                                                       
                                                      } 

                                              
                                                      .second-txt
                                                      {
                                                        width: 852px;
                                                        height: 113px;
                                                        margin: 0px 47px 48px 47px;
                                                      }
 
                                                                        
                                                        /* Second page's text "why web development" */
                                                       
                                                                  .second-txt > h1
                                                                  {
                                                                    width: 852px;
                                                                    height: 37px;
                                                                    font-weight: 800;
                                                                    text-align: center;
                                                                    margin-bottom: 24px;
                                                                  }


                                                                  .second-txt > p 
                                                                  {
                                                                    width: 852px;
                                                                    height: 52px;
                                                                    color: #7E8088;
                                                                    text-align: center;
                                                                  }

                                                            
                                              .lab-container
                                              {
                                                width: 946px;
                                                height: 1090px;
                                                margin-left: 97px;
                                                margin-right: 97px;
                                                margin-bottom: 80px;
                                              }


                                                    
                                              .first-lab 
                                              {
                                                width: 946px;
                                                height: 354px;
                                                background-color: white;
                                                border-radius: 16px;
                                                margin-bottom: 32px;
                                               
                                              } 

                                                        .first-lab-holder
                                                        {
                                                          width: 850px;
                                                          height: 258px;
                                                          margin: 48px;
                                                          display: flex;
                                                          justify-content: space-between;
                                                        }
                                                        .first-lab-txt-holder
                                                        {
                                                          width: 477px;
                                                          height: 219px;
                                                          margin-top: 19.5px;
                                                          margin-bottom: 19.5px;
                                                        }

                                              .first-lab-txt 
                                              {
                                                width: 477px;
                                                height: 140px;
                                                margin: 0px 0px 32px 0px;
                                                
                                            
                                              }
                                              
                                              .first-lab-txt > h2
                                              {
                                                width: 390px;
                                                height: 72px;
                                                color: #555A63;
                                                margin: 0px 78px 16px 0px; 
                                                             

                                              }
                                              .first-lab-txt > p
                                              {
                                                width: 468px;
                                                height: 52px;
                                                color: #555963;
                                               
                                
                                              }
                                              
                                              .image-second
                                              {
                                                width: 275px;
                                                height: 240px;
                                              }



                                              .sec-lab 
                                              {
                                                width: 946px;
                                                height: 336px;
                                                background-color: white;
                                                border-radius: 16px;
                                                margin-bottom: 32px;

                                              } 

                                                        .sec-lab-holder
                                                        {
                                                          width: 850px;
                                                          height: 240px;
                                                          margin: 48px;
                                                          display: flex;
                                                          justify-content: space-between;
                                                          flex-direction: row-reverse;

                                                        }

                                                        ..sec-lab-txt-holder
                                                        { 
                                                          width: 477px;
                                                          height: 219px;
                                                          margin: 10.5px 101px 10.5px 272px;

                                                      

                                                        }
                                                        .sec-lab-txt
                                                        {
                                                          width: 477px;
                                                          height: 140px;
                                                          margin-bottom: 32px;

                                                        }

                                              .sec-lab-txt > h2
                                              {
                                                width: 477px;
                                                height: 72px;
                                                color: #555A63;
                                                margin-bottom: 16px; 
                                              }
                                              .sec-lab-txt > p
                                              {
                                                width: 468px;
                                                height: 52px;
                                                color: #555963;
                                               
                                              }
                                             
                                              .image-third
                                              {
                                                width: 240px;
                                                height: 240px;
                                                margin-right: 32px;
                                                
                                              }


                                              .third-lab
                                              
                                              {
                                                width: 946px;
                                                height: 336px;
                                                background-color: white;
                                                border-radius: 16px;
                                                margin-bottom: 32px;
                                              } 

                                              .third-lab-holder
                                              {
                                                width: 850px;
                                                height: 240px;
                                                margin: 48px;
                                                display: flex;
                                                justify-content: space-between;
                                               
                                              }

                                              .third-lab-txt-holder
                                              {
                                                          width: 477px;
                                                          height: 219px;
                                                          margin: 10.5px 373px 10.5px 0px;
                                              }

                                              .trd-lab-txt
                                              {
                                                          width: 477px;
                                                          height: 140px;
                                                          margin-bottom: 40px;
                                              }

                                              .trd-lab-txt > h2
                                              {
                                                width: 390px;
                                                height: 72px;
                                                color: #555A63;
                                                margin-bottom: 16px; 

                                              }
                                              .trd-lab-txt > p
                                              {
                                                width: 468px;
                                                height: 52px;
                                                color: #555963;
                                               

                                              }
                                             
                                              .image-forth{}

                                              .lab-btn
                                              {
                                                padding: 12px 20px;
                                                text-align: center;
                                                font-weight: 800;
                                                color: #555A63; 
                                                background-color: #ffffffd5;
                                                border: 1px black solid;
                                                
                                                
                                            
                                              }

                                              
                                                      /* video page starts */     


                                                    .video-container
                                                    {
                                                      width: 1140px;
                                                      height: 775px;
                                                      background-color: white;
                                                      margin: 49px 152px 151px 148px;
                                                      
                                                    }

                                                      /* My Inspiration */


                                                    .inspiration-txt {  
                                                      width: 852px;
                                                      height: 113px;
                                                      margin: 0px 144px 48px 144px;}

                                                       .inspiration-txt > h1 {  
                                                        width: 852px;
                                                        height: 37px;
                                                        font-weight: 800;
                                                        text-align: center;
                                                        margin-bottom: 24px;}

                                                       .inspiration-txt > p {  
                                                        width: 852px;
                                                        height: 52px;
                                                        color: #7E8088;
                                                        text-align: center;}

                                                    
                                                    .main-video
                                                       {}

                                                    .main-video > iframe 
                                                    {
                                                      padding: 32px;
                                                      border: 0.5px #CFD0D3 solid;
                                                      border-radius: 16px;
                                                    }


                                                    

                                                      /* 3rd page starts */              


                                                      .third-container
                                                      {
                                                        width: 1140px;
                                                        height: 1437px;
                                                        margin: 151px 150px 49px 150px;
                                                      }



                                                      /* Designing language */

                                                      .designer
                                                      {
                                                        width: 1140px;
                                                        height: 460px;
                                                        margin: 151px 150px 111px 0px;
                                                        background-color: white;
                                                      }

                                                      /* My Current Target */

                                                      .designer-txt 
                                                      {
                                                        width: 852px;
                                                        height: 113px;
                                                        margin: 0px 97px 48px 97px;
                                                      }

                                                      .designer-txt > h2
                                                      {
                                                        width: 852px;
                                                        height: 37px;
                                                        font-weight: 800;
                                                        text-align: center;
                                                        margin-bottom: 24px;
                                                      }

                                                      .designer-txt > p 
                                                      {
                                                        width: 852px;
                                                        height: 52px;
                                                        color: #7E8088;
                                                        text-align: center;
                                                        margin-bottom: 48px;
                                                      }



                                                      /* HTML CSS and JS */



                                                      .non-programing
                                                      {
                                                        width: 1140px;
                                                        height: 299px;
                                                        display: flex;
                                                        flex-wrap: wrap;
                                                        justify-content: space-between;
                                                      


                                                      }


                                                      /* HTML */

                                                      .html-whole-container
                                                      {
                                                        width: 364px;
                                                        height: 299px;
                                                        border: 0.5px white solid;
                                                        border-radius: 16px;
                                                        background-color: #FFF6F4;
                                                      }

                                                      
                                                      .hyper-text-con
                                                      {
                                                        width: 284px;
                                                        height: 219px;
                                                        margin: 40px;
                                                      }


                                                      .html-con 
                                                      {
                                                        width: 284px;
                                                        height: 139px;
                                                        margin-top: 24px;
                                                      
                                                      }


                                                      .html-con > h4 
                                                      {
                                                        width: 284px;
                                                        height: 36px;
                                                        font-weight: 800;
                                                        text-align: left;

                                                        margin-bottom: 8px;
                                                      }

                                                      
                                                      .html-con > p 
                                                      {
                                                        width: 284px;
                                                        height: 52px;
                                                        color: #7E8088;
                                                        text-align: left;
                                                        margin-bottom: 24px;
                                                      }

                                                      
                                                      .html-con >a 
                                                      {
                                                        width: 284px;
                                                        height: 19px;
                                                        font-weight: 600;
                                                        color: black;
                                                        margin-bottom: 40px;
                                                      }


                                                      /* CSS */


                                                      .css-whole-container
                                                      {
                                                        width: 364px;
                                                        height: 299px;
                                                        border: 0.5px white solid;
                                                        border-radius: 16px;
                                                        background-color: #F2F6FE;
                                                      }

                                                      
                                                      .cascade-con
                                                      {
                                                       
                                                        width: 284px;
                                                        height: 219px;
                                                        margin: 40px;
                                                      }

                                                      .css-con
                                                      {
                                                        width: 284px;
                                                        height: 139px;
                                                        margin-top: 24px;
                                                      
                                                      }


                                                      .css-con > h4 
                                                      {
                                                        width: 284px;
                                                        height: 36px;
                                                        font-weight: 800;
                                                        text-align: left;

                                                        margin-bottom: 8px;
                                                      }
                                                      }

                                                      
                                                      .css-con > p 
                                                      {
                                                        width: 284px;
                                                        height: 52px;
                                                        color: #7E8088;
                                                        text-align: left;
                                                        margin-bottom: 24px;
                                                      }

                                                      
                                                      .css-con >a 
                                                      {
                                                        width: 284px;
                                                        height: 19px;
                                                        font-weight: 600;
                                                        color: black;
                                                        margin-bottom: 40px;
                                                      }


                                                      /* JS */

                                                      .js-whole-container
                                                      {
                                                        width: 364px;
                                                        height: 299px;
                                                        border: 0.5px white solid;
                                                        border-radius: 16px;
                                                        background-color: #FFFDF2;
                                                      }

                                                      
                                                      .javascript-con
                                                      {
                                                        width: 284px;
                                                        height: 219px;
                                                        margin: 40px;}

                                                      .js-con 
                                                      {
                                                        width: 284px;
                                                        height: 139px;
                                                        margin-top: 24px;}

                                                      
                                                      .js-con > h4 
                                                      {
                                                        width: 284px;
                                                        height: 36px;
                                                        font-weight: 800;
                                                        text-align: left;

                                                        margin-bottom: 8px;
                                                      }

                                                      
                                                      .js-con > p 
                                                      {
                                                        width: 284px;
                                                        height: 52px;
                                                        color: #7E8088;
                                                        text-align: left;
                                                        margin-bottom: 24px;
                                                      }

                                                      
                                                      .js-con >a 
                                                      {
                                                        width: 284px;
                                                        height: 19px;
                                                        font-weight: 600;
                                                        color: black;
                                                        margin-bottom: 40px;


                                                      .lang-png
                                                      {
                                                        width: 56px;
                                                        height: 56px;
                                                      }



                                                      /* Structural language */


                                                      .structure
                                                      {
                                                        width: 1140px;
                                                        height: 866px;
                                                      }



                                                      /* My Next Target */

                                                      .txt-structure
                                                      {
                                                        width: 946px;
                                                        height: 113px;
                                                        margin: 0px 97px 48px 97px;
                                                      }

                                                      .txt-structure > h3 
                                                      {
                                                        width: 852px;
                                                        height: 37px;
                                                        font-weight: 800;
                                                        text-align: center;
                                                        margin-bottom: 24px;
                                                      }

                                                      .txt-structure > p 
                                                      {
                                                        width: 852px;
                                                        height: 52px;
                                                        color: #7E8088;
                                                        text-align: center;
                                                       
                                                      }


                                                      /* Reactjs nodejs mongodb */


                                                    .programming{}


                                                    /* ReactJS */

                                                    .whole-reactjs{}

                                                    .reactjs{}

                                                    .rjs{}

                                                    .rjs-con{}

                                                    .rjs-con > h4 {}

                                                    .rjs-con > p{}

                                                    .rjs-con > a{}


                                                                                            /* NodeJS */

                                                                                            .whole-nodejs{}

                                                                                            .nodejs{}

                                                                                            .njs{}
                                        
                                                                                            .njs-con{}
                                        
                                                                                            .njs-con > h4 {}
                                        
                                                                                            .njs-con > p{}
                                        
                                                                                            .njs-con > a{}



                                                                /* ReactJS */
                                                     .whole-mongodb{}


                                                    .mongodb{}

                                                    .mdb{}

                                                    .mdb-con{}

                                                    .mdb-con > h4 {}

                                                    .mdb-con > p{}

                                                    .mdb-con > a{}










                                                    /*  page support container*/


                                                    .support-container{}

                                                    .page-support{}



                                                    /* I need Support */

                                                    .support-txt{} 

                                                    .support-txt > h3{}

                                                    .support-txt > p{}


                                                    /*  Input container */


                                                    .input-txt{}

                                                    .inp{}

                                                    .inp-btn{}




                                                    /* footer container */


                                                    .footer-part{}

                                                    .last-part{}

                                                    .last-part > p {}

                                                    .fb{}

                                                    .git{}

                                                    .linkedin{}


                                        

                                                     





                                                      




                                        





