






*{margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal; 
    }
   
   
   .header-container{display: flex;
       justify-content: space-between;}
   
   
   
    .header-container> h3{
       color: #1E1E1E;
       margin-top: 50px;
       margin-bottom: 48px;
       margin-left: 150px;
       
     }
   
     .btn{
       margin-top: 32px;
       margin-right: 150px;
       padding: 23px 24px;
       text-align: center;
       font-weight: 350;
       color: #1E1E1E; 
       width: 244px;
       height: 69px;
       background-color: #ffffffd5;
       border-radius: 8px;
      
     }
   
   
     .first-container{
           background-image: url(assets/Hero-bg.png);
           background-repeat: no-repeat; 
         
   
   }
   
   
   .frst-sub-container{ 
       width: 998px;
       height: 581px;
       padding-top: 26px;
       padding-bottom: 45px;
       padding-right: 221px;
       padding-left: 221px;
       display: flex;
       align-items: center;
       flex-direction: column;
   }
   
   .image
   {width: 241px;
   height: 240px;
   
   }
   
   .frst-sub-container > h1 {
       font-weight: 900;
       color: #1E1E1E;
       text-align: center;
       }
       
   
       .frst-sub-container > p { 
           font-weight: 400;
           color: #1E1E1E;
           text-align: center;
           padding-top: 24px  ;
           padding-bottom: 32px ;
   
       }
   
       .frst-sub-container > button {
           background-color: #0D1321;
           border-radius: 8px;
           width: 244px;
           height: 65px;
           color: azure;
       }
       



















                                                      /* 2nd page starts */              


                   .second-page {
                    width: 1140px;
                    height: 1411px;
                    border-radius: 16px;
               
                   }
   
                  .second-container {
                    width: 946px;
                    height: 1251px;
                  }
   
                  .sec-txt-container {}
   
                           .sec-txt-container > h1 
                           { height: 37px;
                            text-align:center;
                            margin-bottom: 24px;
                            font-weight: 100;}
                           
                           
   
                           .sec-txt-container > p{
                            height: 52px; 
                            text-align: center;}
   
                   .two-one-container {}
                   
                       .two-one-txt> h2{}
   
                       .two-one-txt >p{}
   
                       .two-one-txt > button{}
   
                   .image-two{}
   
                   .two-two-container{}
                   
                       .two-two-txt> h2{}
   
                       .two-two-txt >p{}
   
                       .two-two-txt > button{}
   
                   .image-trd{}
   
                   .two-three-container{}
                   
                       .two-three-txt> h2{}
   
                       .two-three-txt >p{}
   
                       .two-three-txt > button{}
   
                   .image-frth{}
   
                   .sec-last-container{}
   
                   .sec-last-container > h1 {}
   
                   .sec-last-container > p {}
   
   
                   /* Video container....... */
   
   
   
                    .video-container{}
   
                       .vdo-sub-container{}
   
   
                       /* 3rd page............. */
   
   
                    .third-page{}
   
                   .trd-sub-container{}
   
                   .trd-txt-con{}
   
                       .trd-txt-con >h3 {}
   
                       .trd-txt-con >p {}
   
   
                   .lang-container{}
   
                   .html-con{}
   
                       .html-con >img {}
   
                       .html-con >h4 {}
   
                       .html-con >p {}
   
                       .html-con > a {}
   
   
                   .css-con{}
   
                       .css-con >img {}
   
                       .css-con >h4 {}
   
                       .css-con >p {}
   
                       .css-con > a {}
   
   
                   .js-con{}
   
                       .js-con >img {}
   
                       .js-con >h4 {}
   
                       .js-con >p {}
   
                       .js-con > a {}
   
                   .3rd-text-con{}
   
                           .3rd-text-con > h3 {}
                           
                           .3rd-text-con > p {}
   
                   
                   .program-container{}
                           
                   .reactjs-con{}
   
                            .reactjs-con >img {}
   
                            .reactjs-con > h4 {}
   
                            .reactjs-con > p{}
   
                            .reactjs-con > a{}
   
                   
                   .nodejs-con{}
   
                            .nodejs-con >img {}
   
                            .nodejs-con > h4 {}
   
                            .nodejs-con > p{}
   
                            .nodejs-con > a{}
   
   
                    .mongodb-con{}
   
                            .mongodb-con >img {}
   
                            .mongodb-con > h4 {}
   
                            .mongodb-con > p{}
   
                            .mongodb-con > a{}
               
   
                   .page-support{}
   
                   .txt-support{}
   
                           .txt-support > input {}
   
                            .txt-support > button {}
   
                   .txt{}
   
                           .txt > h3 {}
   
                           .txt > p {}
                   
                   .footer-part{}
   
                   .last-part{}
   
                       .last-part > p {}
   
                       .last-part > img {}
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
       


